$freifunk-color-magenta: rgb(220,0,103);
$freifunk-color-yellow:  rgb(255,180,0);
$freifunk-color-blue: rgb(0,158,224);

body {

    font-family: hk_groteskmedium, "Helvetica Neue", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;

}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: hk_groteskbold, "Helvetica Neue", sans-serif;
}
h6 {
  font-family: hk_groteskbold, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.title-bar-left {
    padding-left: 10px;
    .menu-icon {
      width: 18px;
    }
    a {
     font-size: 1.2rem;
    }
}
.title-bar-title {
    padding-left: 5px;

}
.top-bar {

  .menu  {
      margin-right: 1rem;
      li, li:not(:last-child) {
        border-right: 0px solid #4e4e4e;
        margin: 1rem 0;
        a {
          color: #e6e6e6;
          padding: 1rem;
          font-weight: normal;
          font-size: 18px;
          line-height: 1;
        }
        a::before {
          content: url('../images/freifunk_pfeil.svg');
          display: inline-block;
          color: #ffb400;
          line-height: 0;
          transform: scale(0.6);
          vertical-align: -10px;
          width: 38px;
          @media screen and (max-width: 39.9375em) {
            transform: scale(0.5);
            vertical-align: -10px;
            width: 42px;
          }
        }
      }
  }
}
p, li, blockquote {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    @media screen and (max-width: 39.9375em) {
      line-height: 1.5;
      font-size: 18px;
    }
}


.main-container {
  a {
    color: $freifunk-color-magenta;
    border-bottom: 2px solid $freifunk-color-magenta;
  }
  a:hover, a:focus {
    color: darken($freifunk-color-magenta,8%);
    border-bottom: 4px solid darken($freifunk-color-magenta,8%);
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    a {
      border-bottom: 0;
    }
  }
  h1.entry-title, h2.entry-title {
    margin-left: -16px;
    color: $freifunk-color-magenta;
    @media screen and (max-width: 39.9375em) {
      font-size: 1.55rem;
      margin-left: -8px;
    }
  }
  h1.entry-title::before,
  h2.entry-title::before {
    content: url('../images/freifunk_pfeil.svg');
    display: inline-block;
    color: #ffb400;
    line-height: 0;
    transform: scale(0.7);
    vertical-align: -5px;
    width: 48px;
    @media screen and (max-width: 39.9375em) {
      transform: scale(0.55);
      vertical-align: -10px;
      width: 42px;
    }


  }



  article p {
    margin-left: 32px;
    margin-right: 65px;

    @media screen and (max-width: 39.9375em) {
      margin-left: 0;
      margin-right: 0;

    }

  }
  p.edit-link,
  p.byline.author {
    color: #644;
    @media screen and (max-width: 39.9375em) {
      font-size: 15px;
    }
    a {
      color: #644;
      border-bottom: 2px solid #644;
    }
    a:hover {
      color: #644;
      border-bottom: 4px solid #644;
    }
  }

  aside.sidebar .menu,
  aside.sidebar .widget
  {
    -webkit-flex-wrap: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    display: block;
    ul {
      list-style-type: none;
      margin-left: 0;
      li {
        margin: 1.5rem 0;
      }
      a  {
        padding: 1rem;
        border-bottom: none;
      }
      a:hover {
        background-color: #e0e0f0;
        background-color: #e6e6f0;
      }
      a::before {
        content: url('../images/freifunk_pfeil.svg');
        display: inline-block;
        color: #ffb400;
        line-height: 0;
        transform: scale(0.6);
        vertical-align: -10px;
        width: 38px;
        @media screen and (max-width: 39.9375em) {
          transform: scale(0.5);
          vertical-align: -10px;
          width: 42px;
        }
      }
    }
    li::beforeX {
        content: "➜";
        display: inline-block;
        padding-left: 0;
        height: 10px;
        width: 23px;
        color: rgb(255,180,0);
        transform: rotate(-45deg);
        line-height: 0.7;

    }
    a {
      line-height: 1;
      text-decoration: none;
      display: inline;
      padding: 0;
    }
  }
}