/* hamburg-freifunk-wp-theme (2019) */

$freifunk-color-magenta: rgb(220,0,103);
$freifunk-color-yellow:  rgb(255,180,0);
$freifunk-color-blue: rgb(0,158,224);
$dark-color:  #2C3840;

$verylarge-up: "(min-width: 74.063em)";
$large-only: "(max-width: 74.063em) and (min-width: 64.063em)";
$large-up: "(min-width: 64.063em)";
$medium-only: "(max-width: 64.063em) and (min-width: 43em)";
$medium-up: "(min-width: 43em)";
$small-only: "(max-width: 43em)";


body {
    font-family: hk_groteskmedium, "Helvetica Neue", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;

}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: hk_groteskbold, "Helvetica Neue", sans-serif;
}
h6 {
  font-family: hk_groteskbold, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
p, li, blockquote {
    margin-bottom: 1rem;
    font-size: inherit;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    line-height: 1.5;
    word-break: break-word;
    @media screen and #{$large-up} {
      font-size: 17px;
      line-height: 1.6;
    }
}


/* header/topbar */

header.site-header {
    position: relative;
    z-index: 10;
}

.title-bar-left {
    padding-left: 10px;

    .menu-icon {
      width: 18px;
    }
    a {
     font-size: 1.2rem;
    }
}
.title-bar-title {
    padding-left: 5px;
    position: relative;
    vertical-align: sub;
}

.top-bar-outer {
  background-color: $dark-color;
  nav.top-bar {

    max-width: 90rem;

    margin: 0 auto;

    max-height: 75px;

    .top-bar-left {
      min-width: 48rem;
      margin-top: 50px;
      .site-desktop-title.top-bar-title {

        font-size: 18px;

        a {
          color: #e6e6e6;
          font-size: inherit;
        }

        #logo {
          float: left;
          border: 1px solid white;

          #logo-inner {

            margin-left: 74px;

            margin-top: 0;

            position: absolute;
            -webkit-transform: rotate(34deg);
            -ms-transform: rotate(34deg);
            transform: rotate(34deg);
            display: block;


            img {
              transform: scale(2.4);
            }
          }

        }
        #title {
          float: left;
          margin-left: 330px;
          h1 {
            margin: 0;
            font-size: 2.5rem;
            a {
              padding: 0;
              font-weight: normal;
            }
          }
          h2 {
            font-size: 1.8rem;
            margin: 0;
          }
        }


      }
    }
    .top-bar-right {
      background-color: $dark-color;
      margin-top: 0;
      @media screen and #{$large-up} {
        margin-top: 40px;
      }
      @media screen and #{$verylarge-up} {
        margin-top: 0;
      }
     .menu  {
        margin-right: 1rem;
        margin-top: 110px;
        margin-bottom: 10px;
        @media screen and #{$large-up} {
            margin-top: 0;
        }

        li, li:not(:last-child), li:not(.menu-text) {
          border-right: 0px solid #4e4e4e;
          margin: 0;

          a {
            color: #e6e6e6;
            padding: 0rem 0.7rem 0;
            font-weight: normal;
            font-size: 18px;
            line-height: 1;
            background: transparent;
          }
          a:hover  {
            background-color: #42525D;
          }
          a::before {
            content: url('../images/freifunk_pfeil.svg');
            display: inline-block;
            color: #ffb400;
            line-height: 0;
            transform: scale(0.6);
            vertical-align: -10px;
            width: 38px;
            @media screen and (max-width: 39.9375em) {
              transform: scale(0.5);
              vertical-align: -10px;
              width: 42px;
            }
          }
        }
      }
    }



  }
}
/* banner image */

#banner {
    height: 300px;
    overflow: hidden;
    width: 100%;


    img {
      width: 120%;
      max-width: 200%;
    }
}

/* main content */

.main-container {

  margin-top: 20px;
  margin-left: 30px;

  @media screen and #{$large-up}  {
    margin: 235px auto 0;
  }
  .entry-content {
    margin-bottom: 50px;
  }
  a {
    color: $freifunk-color-magenta;
    border-bottom: 2px solid $freifunk-color-magenta;
  }
  a:hover, a:focus {
    color: darken($freifunk-color-magenta,8%);
    border-bottom: 4px solid darken($freifunk-color-magenta,8%);
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    a {
      border-bottom: 0;
    }
  }
  h1.entry-title, h2.entry-title {
    color: #dc0067;
    color: $freifunk-color-magenta;
    line-height: 1.2;
    margin-left: 0;
    text-indent: -42px;
    font-size: 1.55rem;
    @media screen and #{$large-up} {
      margin-left: 33px;
      text-indent: -49px;
      font-size: 2.5rem;
    }
  }
  h1.entry-title::before,
  h2.entry-title::before {
    content: url('../images/freifunk_pfeil.svg');
    display: inline-block;
    color: #ffb400;
    line-height: 0;
    transform: scale(0.55);
    vertical-align: -10px;
    width: 42px;
    padding-right: 0px;
    text-align: right;
    @media screen and #{$large-up} {
      transform: scale(0.82);
      vertical-align: -5px;
      width: 50px;
      padding-right: 10px;

    }


  }


  article p,
  article ul
   {
    margin-left: 0;
    margin-right: 0;
    @media screen and #{$large-up} {
      margin-left: 32px;
      margin-right: 65px;
    }
  }
  article ul li {
    margin-left: 15px;
  }

  p.edit-link,
  p.byline.author {
    color: #644;
    font-size: 15px;

    @media screen and #{$large-up} {

    }
    a {
      color: #644;
      border-bottom: 2px solid #644;
    }
    a:hover {
      color: #644;
      border-bottom: 4px solid #644;
    }
  }

  aside.sidebar .menu,
  aside.sidebar .widget
  {
    -webkit-flex-wrap: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    display: block;
    ul {
      list-style-type: none;
      margin: 0 0 3.5rem -1.5rem;
      li {
        margin: 1.5rem 0;
      }
      a  {
        padding: 1rem;
        border-bottom: none;


        text-indent: -40px;
        margin-left: 40px;
        display: block !important;
        margin-right: 50px;
        padding: 0 10px !important;


      }
      a:hover {
        background-color: #e0e0f0;
        background-color: #e6e6f0;
      }
      a::before {
        content: url('../images/freifunk_pfeil.svg');
        display: inline-block;
        color: #ffb400;
        line-height: 0;
        transform: scale(0.5);
        vertical-align: -10px;
        width: 42px;
        @media screen and #{$large-up} {
          transform: scale(0.6);
          vertical-align: -10px;
          width: 38px;

          vertical-align: -12px;
          text-align: right;
        }
      }
    }
    li::beforeX {
        content: "➜";
        display: inline-block;
        padding-left: 0;
        height: 10px;
        width: 23px;
        color: rgb(255,180,0);
        transform: rotate(-45deg);
        line-height: 0.7;

    }
    a {
      line-height: 1;
      text-decoration: none;
      display: inline;
      padding: 0;
    }
  }
}
